Como primer paso para el proyecto se buscara realizar una lectura por arriba sobre todo para buscar errores o faltantes en los datos.

In [1]:
# se importa la/las librerias a utilizar
import pandas as pd

In [23]:
dfCalendar = pd.read_csv('base de datos AirBnB\calendar.csv')
dfListing = pd.read_csv('base de datos AirBnB\listings.csv', low_memory= False)
dfReviews = pd.read_csv('./base de datos AirBnB/reviews.csv')

In [24]:
dfCalendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8661286 entries, 0 to 8661285
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  object
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 462.6+ MB

In [25]:
dfCalendar.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,50778,2020-04-26,f,"$2,655.00","$2,655.00",5.0,1125.0
1,133654,2020-04-27,t,"$1,150.00","$1,150.00",4.0,1125.0
2,133654,2020-04-28,t,"$1,150.00","$1,150.00",4.0,1125.0
3,133654,2020-04-29,t,"$1,150.00","$1,150.00",4.0,1125.0
4,133654,2020-04-30,t,"$1,150.00","$1,150.00",4.0,1125.0